environment:
  matrix:
  - nodejs_version: "5"
  - nodejs_version: "4"

cache:
  - node_modules

branches:
  only:
    - master

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm --version
  - npm run test

# Don't actually build.
build: off
